<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="TJ's Towing and Roadside Assistance" />
  <meta name="author"
    content="Business Owner: TJ Orangis, Developed by: Cindy Le, Logo Designed by: Adrian Scalamogna" />
  <meta name="keywords"
    content="towing, tow, towing company, tow service, towing truck, tow truck, tjs towing, towing near me, towing trucking, tow truck north york, north york, towing companies near me, tow company near me, towing truck 24 hours, tow truck 24 hours near me, nearest tow truck, collision reporting centre, collision reporting centre toronto, fast towing toronto" />
  <link rel="shortcut icon" href="/img/logo/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/logo/favicon.ico" type="image/x-icon">
  <title>TJ's Towing</title>

  <!-- Font Awesome Icons -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />

  <!-- Plugin CSS -->
  <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/css/creative.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <!-- Nav Logo for xs, sm, and md -->
        <div class="d-block d-lg-none d-xl-none">
          <img src="/img/logo/TJT_Simple_OnLight_115x50.png" alt="TJ's Towing Logo">
        </div>
        <!-- Nav Logo for lg and xl -->
        <div class="d-none d-lg-block d-xl-block">
          <img id="logoBrand" src="/img/logo/TJT_Main_OnDark_1_115x50.png" alt="TJ's Towing Logo">
        </div>
      </a>
      <!-- Nav Phone -->
      <ul class="navbar-nav mr-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="tel:6477641991">(647)-764-1991</a>
        </li>
      </ul>
      <!-- Hamburger Menu -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <div class="dropdown show">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#collision">Collision</a>
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#lockout">Lockout</a>
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#boost">Boost</a>
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#breakdown">Breakdown</a>
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#tirechange">Tire
                  Change</a>
                <a class="dropdown-item-text text-decoration-none js-scroll-trigger"
                  style="font-family: Merriweather Sans" href="#fueldelivery">Fuel
                  Delivery</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#form">Get a Quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#location">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <div class="badge-primary mb-2">{{msg}}
          </div>
          <!-- Logo brand for xs, sm, and md -->
          <div class="d-block d-lg-none d-xl-none">
            <img src="/img/logo/TJT_Main_OnDark_346x150.png" alt="TJ's Towing Brand">
          </div>
          <!-- Logo brand for lg and xl -->
          <div class="d-none d-lg-block d-xl-block">
            <img src="/img/logo/TJT_Main_OnDark_693x300.png" alt="TJ's Towing Brand">
          </div>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">We offer towing services with no strings attached!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <section class="pt-5" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Services</h2>
      <hr class="divider my-4" id="collision" />
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/accident_700x700.jpg" alt="collision picture">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h3 class="h4 mb-2">Collision</h3>
            <p class="mb-4">Having a collision when driving can be a frightening experience. It’s easy
              to
              become overwhelmed, as you
              struggle to think about what you should do. First, you should make sure to check that you haven’t been
              injured. Next, you will have to make sure to take photos of the scene, including any damage to your
              vehicle. Our skilled team of professionals will be able to help you document the scene, so you have a
              strong insurance case. You will also have to make sure that you call the police. During the call the
              operator will decide whether to dispatch officers, depending on how severe the collision was. You will
              also have to make sure to report the collision. This means going to a collision reporting center and
              telling your insurance company about the incident. By taking these actions, you will be able to build a
              strong case for compensation.</p>

            <p class="mb-4">You will also have to make sure that your vehicle is towed away. In this
              area,
              we can help. We use the
              best equipment and offer highly trained staff. When using our services, you can be confident that your
              vehicle won’t receive any additional damage. We will also be able to help you process your claim
              afterward. So, if you need help after a collision, make sure to give our team a call.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary" id="lockout">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/lockout_700x700.jpg" alt="lockout picture">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h3 class="text-white h4 mb-2" id="lockout">Lockout</h3>
            <p class="text-white-75 mb-4">Getting locked out of your car can be an overwhelming experience. It’s easy to
              feel embarrassed and
              unsure about what to do next. Thankfully, you can use our lockout service. All you have to do is show
              proof that you are the owner of the vehicle, and we will be able to help you get into the car. To do
              this,
              we use our extensive experience and range of high-quality tools. This will allow us to help you get
              access
              to the vehicle, without damaging the car. So, the next time you find yourself accidentally locked out of
              your car, make sure to get in contact with our friendly team.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="boost">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/boost_700x700.jpg" alt="boost picture">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h3 class="h4 mb-2" id="boost">Boost</h3>
            <p class="mb-4">There are multiple ways that you might run out of charge on your car battery.
              For example, a common
              mistake is accidentally leaving your lights on, draining the battery. When these situations occur, there
              is an easy solution for you to use. Simply give us a call. We will be able to arrive at your location
              and
              boost your battery for you. This will give you enough power to start the engine. Using their experience,
              our team can make sure you get a jumpstart without damaging your vehicle. So, if you’ve been caught out
              with a low battery, get in contact with us.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary" id="breakdown">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/breakdown_700x700.jpg" alt="breakdown picture">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h3 class="text-white h4 mb-2" id="breakdown">Breakdown</h3>
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia
              odio veniam sit iste
              esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae
              adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tirechange">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/flattire_700x700.jpg" alt="flat tire picture">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h3 class="h4 mb-2" id="tirechange">Tire Change</h3>
            <p class="mb-4">While changing a tire can seem like a fairly simple procedure this isn’t
              always the case. There are
              multiple things that can go wrong. For example, you will likely end up getting dirty. It’s common for
              grime to get on your fingers and clothes. In addition, you might end up losing the nuts. This can create
              even more problems, as you might not be able to re-attach the new tire properly. For these reasons, many
              people prefer to use our tire change service. Our team will be able to change your tires quickly and
              easily. So, if you have a busted tire, make sure to get in contact with us today.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary" id="fueldelivery">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/gas_700x700.jpg" alt="fuel delivery picture">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h3 class="text-white h4 mb-2" id="fueldelivery">Fuel Delivery</h3>
            <p class="text-white-75">When you run of fuel it can be difficult to know what to do. In some cases, you
              might want to leave
              your
              vehicle, with a jerry can, and walk to the nearest petrol station. If it’s a short stroll, this can be a
              great solution. However, if you are in an unfamiliar location, or have a long distance to travel, this
              might not be a viable option. In these cases, consider our fuel delivery service. Simply tell us your
              location and we will bring the fuel to you. You can choose the amount that you want to purchase,
              depending
              on how much you’ll require to get to a petrol station. So, the next time you run out of fuel take
              advantage of this convenient service.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Form -->
  <section class="page-section bg-dark text-white" id="form">
    <div class="container text-center">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5" action="send" method="POST">
        <p class="h4 mb-4">Request a Quote</p>

        <!-- Name -->
        <input type="text" id="ContactFormName" class="form-control mb-4" name="contactName" placeholder="Name" />

        <!-- Email -->
        <input type="email" id="ContactFormEmail" class="form-control mb-4" name="contactEmail" placeholder="E-mail" />

        <!-- Phone -->
        <input type="tel" id="ContactFormPhone" class="form-control mb-4" name="contactPhone"
          placeholder="Phone number" />

        <!-- Urgency -->
        <div class="custom-control custom-switch mb-4">
          <input type="checkbox" class="custom-control-input" id="urgencySwitch" name="urgency" />
          <label class="custom-control-label" for="urgencySwitch">Urgent Service?</label>
        </div>

        <p class="h5 mb-4">Type of Service Needed</p>
        <div class="mb-4">
          <!-- Tow -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="radioTow" name="typeOfService" value="Tow" />
            <label class="custom-control-label" for="radioTow">Tow</label>
          </div>

          <!-- Lockout -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="radioLockout" name="typeOfService" value="Lockout" />
            <label class="custom-control-label" for="radioLockout">Lockout</label>
          </div>

          <!-- Boost -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="radioBoost" name="typeOfService" value="Boost" />
            <label class="custom-control-label" for="radioBoost">Boost</label>
          </div>

          <!-- Tire Change -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="radioTireChange" name="typeOfService"
              value="TireChange" />
            <label class="custom-control-label" for="radioTireChange">Tire Change</label>
          </div>

          <!-- Fuel Delivery -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="radioFuelDelivery" name="typeOfService"
              value="FuelDelivery" />
            <label class="custom-control-label" for="radioFuelDelivery">Fuel Delivery</label>
          </div>
        </div>

        <!-- Vehicle Type -->
        <p class="h5 mb-4">Vehicle Information</p>
        <div class="form-row mb-4">
          <div class="col">
            <select class="browser-default custom-select" name="vehicleType">
              <option value="" disabled>Choose option</option>
              <option value="Car" selected>Car</option>
              <option value="Pickup Truck">Pickup Truck</option>
              <option value="SUV">SUV</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <!-- Wheel -->
          <div class="col">
            <select class="browser-default custom-select" name="wheelType">
              <option value="" disabled>Choose option</option>
              <option value="FWD" selected>FWD</option>
              <option value="AWD">AWD</option>
              <option value="RWD">RWD</option>
              <option value="Not Sure">Not Sure</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <input type="text" id="vehicleYear" class="form-control mb-4" name="vehicleYear" placeholder="Year" />
          </div>
          <div class="col">
            <input type="text" id="vehicleMake" class="form-control mb-4" name="vehicleMake" placeholder="Make" />
          </div>
          <div class="col">
            <input type="text" id="vehicleModel" class="form-control mb-4" name="vehicleModel" placeholder="Model" />
          </div>
        </div>

        <!-- Vehicle Location -->
        <input type="text" id="vehicleLocation" class="form-control mb-4" name="vehicleLocation"
          placeholder="Vehicle Location" />

        <!-- Vehicle Destination -->
        <input type="text" id="vehicleDestination" class="form-control mb-4" name="vehicleDestination"
          placeholder="Vehicle Destination" />

        <!-- Comments -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" name="comments"
            placeholder="Comments"></textarea>
        </div>

        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
          <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" name="sendCopyToClient" />
          <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>

        <!-- Send button -->
        <button type="submit" class="btn btn-primary btn-xl">Send</button>
      </form>
      <!-- Default form contact -->
    </div>
  </section>

  <!-- Map -->
  <section id="location" class="page-section map">
    <div class="text-center">
      <h2 class="mt-0">Service Area Map</h2>
      <hr class="divider my-4" />
      <p class="text-muted mb-5">
        Give us a call, send us a text/email and we will get back to you as soon as possible!
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92220.85651086718!2d-79.51203845822651!3d43.754136665532876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b322ec4918c75%3A0xfb330d877abf7e3d!2sNorth%20York%2C%20Toronto%2C%20ON!5e0!3m2!1sen!2sca!4v1577952430006!5m2!1sen!2sca"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <br />
      <small>
        <a
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92220.85651086718!2d-79.51203845822651!3d43.754136665532876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b322ec4918c75%3A0xfb330d877abf7e3d!2sNorth%20York%2C%20Toronto%2C%20ON!5e0!3m2!1sen!2sca!4v1577952430006!5m2!1sen!2sca"></a>
      </small>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4" />
          <p class="text-muted mb-5">
            Give us a call, send us a text/email and we will get back to you as soon as possible!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
          <a class="nav-link" href="tel:6477641991">
            <i class="fas fa-phone fa-3x mb-3"></i>
            <div>(647) 764-1991</div>
          </a>
        </div>
        <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
          <a class="nav-link" href="sms:6477641991">
            <i class="fas fa-comment fa-3x mb-3"></i>
            <div>(647) 764-1991</div>
          </a>
        </div>
        <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
          <a class="nav-link" href="https://www.instagram.com/tjorangis/" target="_blank">
            <i class="fab fa-instagram fa-3x mb-3"></i>
            <div>tjorangis</div>
          </a>
        </div>
        <div class="col-lg-3 mr-auto ml-auto text-center">
          <a class="d-block nav-link" href="mailto:tjorangis@gmail.com">
            <i class="fas fa-envelope fa-3x mb-3"></i>
            <div>tjorangis@gmail.com</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">
        Copyright &copy; 2019-2020 TJ's Towing • Developed by
        <a href="https://linkedin.com/in/cindyledev">CL</a>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing//jquery.easing.min.js"></script>
  <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/creative.js"></script>
  <script src="/js/instafeed.js"></script>
</body>

</html>